html, body {
    overflow: hidden;
    position: relative;
}

header.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}


.body-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 60px 40px;
}

.body-wrapper > aside.sidebar {
    flex: 25%;
}

.body-wrapper > section.section {
    flex: 75%;
}

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav > ul {
    display: flex;
    list-style: none;
}
.header-nav > ul > .header-list__item {
    padding: 0 10px;
}
.header-nav > ul > .header-list__item a {
    color: #252f3e;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.section-registration {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form-wrapper {
    width: 500px;
    padding: 20px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.registration-form-wrapper form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-form-wrapper form label {
    margin-bottom: 20px;
    color: #252f3e;
    font-size: 18px;
    width: 100%;
}

.registration-form-wrapper form .label-input {
    width: 100%;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #252f3e;
    outline: none;
}

.registration-form-wrapper form .select_sex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-form-wrapper form .submit-btn {
    text-align: center;
    background: #252f3e;
    margin-top: 20px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}