html, body {
    position: relative;
}

header.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    background: white;
    z-index: 100;
}

footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}


.body-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 60px 40px;
}

.body-wrapper > aside.sidebar {
    width: 20%;
    position: fixed;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    height: 100vh;
    margin-left: -40px;
    padding: 20px;
}

.body-wrapper > section.section {
    flex: 75%;
    padding: 20px 20px 20px 25%;

}

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav > ul {
    display: flex;
    list-style: none;
}
.header-nav > ul > .header-list__item {
    padding: 0 10px;
}
.header-nav > ul > .header-list__item a {
    color: #252f3e;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
}
.sidebar-list > li {
    padding: 10px 0;
}
.sidebar-list > li > a {
    color: #252f3e;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar-list > li > a:hover {
    text-decoration: underline;
}

.section-registration {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form-wrapper {
    width: 500px;
    padding: 20px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.registration-form-wrapper form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-form-wrapper form label {
    margin-bottom: 20px;
    color: #252f3e;
    font-size: 18px;
    width: 100%;
}

.registration-form-wrapper form .label-input {
    width: 100%;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #252f3e;
    outline: none;
}

.registration-form-wrapper form .select_sex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-form-wrapper form .submit-btn {
    text-align: center;
    background: #252f3e;
    margin-top: 20px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.section-books-wrapper {
    display: flex;
    flex-direction: column;
}

.card-book {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    position: relative;
}

.card-book_img {
    width: 120px;
    min-width: 120px;
    max-height: 100%;
}

.card-book_img img{
    max-width: 100%;
    max-height: 100%;
}

.card-book_content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #505050;
}

.card-book_content h3, .card-book_content a {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.card-book_content h5{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.card-book .btn {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #505050;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-book .btn.delete {
    right: 10px;
}
.card-book .btn.edit {
    right: 50px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 55px;
    margin-right: 20px;
}